{% extends "dbApp/header.html" %}
{% block title %}
<title>dataSetAnalysis</title>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class = "panel-body">
                <div class="col-md-4">
                    <h3>Multi-sample typing analysis</h3>
                    <p>Use symPortal to analyse a data set containing one or more samples.
                        Every sample should be composed of multiple NGS ITS2 amplicon sequence reads (ideally > 300 reads).</p>
                    Data can be input as either:
                    <div>
                        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#subFastQ">
                          <span style="text-decoration:underline; color:#333333">A single FastQ file</span>
                        </button>

                        <div id="subFastQ" class="collapse">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Content here
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#subFastaCount">
                          <span style="text-decoration:underline; color:#333333">Paired .fasta and count files</span>
                        </button>

                        <div id="subFastaCount" class="collapse">
                            <div class="panel panel-default" style="padding: 0 0 0 0;">
                                <div class="panel-body">
                                    Content here
                                </div>
                            </div>
                            <div style="text-align: center;">
                                AND
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Content here
                                </div>
                            </div>
                        </div>
                    </div>

                    Data sets may be run in one of three modes:
                    <div>
                        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#subOne">
                          <span style="text-decoration:underline; color:#333333">Stand-alone: small number of samples</span>
                        </button>

                        <div id="subOne" class="collapse">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Content here
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#subTwo">
                          <span style="text-decoration:underline; color:#333333">Stand-alone: large number of samples</span>
                        </button>

                        <div id="subTwo" class="collapse">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Content here
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#subThree">
                          <span style="text-decoration:underline; color:#333333"><span style= "font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New; font-size: 14px" >symPortaldb</span> integrated analysis</span>
                        </button>

                        <div id="subThree" class="collapse">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Content here
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- These will be our inputs which will be validated live perhaps -->
                <div class="col-md-4">
                    <h3>Data input and validation</h3>

                    <!-- TODO finish clearing up these buttons i.e. use standard file inputs -->
                    <!-- TODO then write java to change the hidden states of them dependent on the selection -->
                    <!-- TODO Then write python to open the data from the given directory and produce summary data -->
                    <!-- TODO Send this summary data back to the website and display in the explanation on the left box -->


                    <form id="validateForm" action="{% url 'dbApp:dataInputValidation' %}"  method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <select class="form-control" name="dataType" id="dataType">
                                <option  value="">Select data type</option>
                                <option id="selectFastQ" value="fastQ">fastQ</option>
                                <option id="selectFasta" value="fasta">.fasta/count table</option>
                            </select>
                        </div>

                        <!-- IF FASTQ CHOSEN -->
                        <div id="fastQSubmit"  class="form-group" style="display: none;">

                                <label>fastQ</label>
                                <input id="fastQFileInput" type="file" name="fastQFile"/>

                        </div>

                        <!-- IF FASTA/COUNT CHOSEN -->
                        <div id="fastaSubmit" style="display: none;">
                            <div class="form-group">
                                <label>.fasta </label>
                                <input id="fastaFileInput" type="file" name="fastaFile"/>
                            </div>
                            <div class="form-group">
                                <label  >count table</label>
                                <input id="countFileInput" type="file" name="countFile"/>
                            </div>
                        </div>


                        <button id="fileValidate" type="submit" class="btn btn-primary" style="display: none;">Validate</button>

                    </form>




                </div>

                <div class="col-md-4">
                    <h3>Explanation of the left</h3>
                    <label>.fasta file</label>
                    <div class="well well-sm">
                        >This is a fastaName/n Here is the sequence"
                    </div>
                </div>

            </div>
        </div>

    </div>
    <p id="testText">someText</p>
</div>
{% endblock %}
{% block additionalLinks %}
{% load staticfiles %}
<script src="{% static 'dbApp/js/bioDivAnalysis.js'%}"></script>
{% endblock %}