<!DOCTYPE html>
<html lang="en">

<head>
	{% block title %}
	<title>Harrison Kinsley</title>
	{% endblock %}
	{% include "./includes/links.html" %}
	{% include "./includes/navBar.html" %}


</head>

<body class="body" style="background-color:#f6f6f6">

	{% block content %}



	{% endblock %}

	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Support</a> | <a href="#" target="blank">Acknowledgements</a> </p>
		</div>
	</footer>

	{% block additionalLinks %}
	{% endblock %}
</body>

</html>