<!DOCTYPE html>
<html lang="en">

<head>
	{% load staticfiles %}
	{% include "./includes/links.html" %}

	<title>symPortal</title>
</head>

<body>
<div id="wrapper">
	<div class="row">
		<span id="symPortalText" style= "font-size: 48px; font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;" >symPortal</span>
	</div>
	<div class="row" style="text-align: center; display: none;" id="hiddenSub">
		<a href="" target="blank" style="color: #303030" id="sub1">logIn</a> | <a href="#" target="blank" style="color: #303030" id="sub2">signUp</a> | <a href="summary" target="blank" style="color: #303030" id="sub3">continueAsGuest</a>
	</div>
</div>
<script src="{% static 'dbApp/js/home.js'%}"></script>
</body>
</html>