<!-- This is the navbar -->
	<nav class="nav navbar-default">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li class="active"><a href="."><span style= "font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New; font-size: 20px" >symPortal</span></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Query db<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="seqQuery">Seq query</a></li>
						<li><a href="#">Sample query</a></li>
						<li><a href="#">Data set query query</a></li>
						<li><a href="#">Browse</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Analysis <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">New sample typing</a></li>
						<li><a href="bioDivAnalysis">New biodiverisity analysis</a></li>
					</ul>
				</li>
				<li><a href="#">Your data</a></li>
			</ul>
		</div>
	</nav>